body {
    background-color: #f5f5f5;
}

/* กำหนดลักษณะ img ทั้งหมด */
.gallery-img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 12px;
    border: 3px solid #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: 0.3s ease;
}

/* hover effect */
.gallery-img:hover {
    transform: scale(1.08);
    box-shadow: 0 8px 16px rgba(0,0,0,0.5);
}
